#cat{
    color: rgb(247, 246, 248);
}

body{
    background:rebeccapurple;
}

#cat_input{
    background-color: gray;
    color: red;
}
::placeholder{
    color: red;
}
#button{
    background-color: rgb(50, 86, 245);
}
